[Unit]
Description=Process which monitors config_db and manage openbmpd daemon
Requires=database.service config-setup.service
After=database.service config-setup.service
BindsTo=sonic.target
After=sonic.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bmpcfgd
Restart=always

[Install]
WantedBy=sonic.target
