[Unit]
Description=Console Monitor PTY Bridge Service for port %i
Documentation=https://github.com/sonic-net/SONiC/blob/master/doc/console/Console-Monitor-High-Level-Design.md
After=config-setup.service
Requires=config-setup.service

[Service]
Type=simple
ExecStart=/usr/bin/console-monitor pty-bridge %i
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
