[Unit]
Description=Retrieve the reboot cause from the history files and save them to StateDB
Requires=rc-local.service database.service
After=rc-local.service database.service

[Service]
Type=simple
ExecStart=/usr/local/bin/process-reboot-cause
