[Unit]
Description=Process and docker CPU/memory utilization data export daemon
Requires=database.service config-setup.service
After=database.service config-setup.service
BindsTo=sonic.target
After=sonic.target

[Service]
Type=simple
ExecStart=/usr/bin/procdockerstatsd-rs
Restart=always

[Install]
WantedBy=sonic.target
