[Unit]
Description=Console Monitor DCE Service - Manages PTY Bridge and Proxy Services
Documentation=https://github.com/sonic-net/SONiC/blob/master/doc/console/Console-Monitor-High-Level-Design.md
After=config-setup.service database.service
Requires=config-setup.service database.service

[Service]
Type=simple
ExecStart=/usr/local/bin/console-monitor dce
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

SupplementaryGroups=dialout

[Install]
WantedBy=sonic.target