[Unit]
Description=Reboot cause determination service
Requires=rc-local.service
After=rc-local.service
ConditionPathExists=!/tmp/determine-reboot-cause

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/determine-reboot-cause
ExecStartPost=/usr/bin/touch /tmp/determine-reboot-cause
[Install]
WantedBy=multi-user.target
