[Unit]
Description=gNOI based DPU Graceful Shutdown Daemon
Requires=database.service gnmi.service
Wants=network-online.target pmon.service
After=network-online.target database.service gnmi.service pmon.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/gnoi_shutdown_daemon.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
