[Unit]
Description=gNOI based DPU Graceful Shutdown Daemon
After=rc-local.service

[Service]
Type=simple
ExecStartPre=/usr/local/bin/check_platform.sh
ExecStart=/usr/bin/gnoi-shutdown-daemon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target