[Unit]
Description=gNOI based DPU Graceful Shutdown Daemon
Requires=database.service
Wants=network-online.target
After=network-online.target database.service

[Service]
Type=simple
ExecStartPre=/usr/local/bin/check_platform.sh
ExecStartPre=/usr/local/bin/wait-for-sonic-core.sh
ExecStart=/usr/local/bin/gnoi-shutdown-daemon
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
