[Unit]
Description=Console Monitor DTE Service - Heartbeat Sender
Documentation=https://github.com/wiperi/consoled
After=config-setup.service database.service
Requires=config-setup.service database.service
BindsTo=sonic.target
After=sonic.target

[Service]
Type=simple
ExecStart=/usr/local/bin/console-monitor dte
Restart=always
RestartSec=5

[Install]
WantedBy=sonic.target
